<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LabLogger.Properties.Settings>
            <setting name="Port1" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Port2" serializeAs="String">
                <value />
            </setting>
            <setting name="Port3" serializeAs="String">
                <value />
            </setting>
            <setting name="Port4" serializeAs="String">
                <value />
            </setting>
            <setting name="FileLocation1" serializeAs="String">
                <value>C:\LabLogger\Sensor1</value>
            </setting>
            <setting name="FileLocation2" serializeAs="String">
                <value>C:\LabLogger\Sensor2</value>
            </setting>
            <setting name="FileLocation3" serializeAs="String">
                <value />
            </setting>
            <setting name="FileLocation4" serializeAs="String">
                <value />
            </setting>
            <setting name="Location1" serializeAs="String">
                <value>HP-207, Lambda 1050+ sample chamber</value>
            </setting>
            <setting name="Location2" serializeAs="String">
                <value>HP-207, </value>
            </setting>
            <setting name="Location3" serializeAs="String">
                <value>Universe</value>
            </setting>
            <setting name="Location4" serializeAs="String">
                <value>Metaversum</value>
            </setting>
            <setting name="LogIntervallMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogToleranceSeconds" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ThingSpeakWriteApiKey" serializeAs="String">
                <value>!secret!</value>
            </setting>
            <setting name="ThingSpeakEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </LabLogger.Properties.Settings>
    </applicationSettings>
</configuration>